<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Dashboard</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css">
    <link rel="icon" href="../static/cieve.ico">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <link rel="stylesheet" href="../static/main.css" />
    <script async type="text/javascript" src="../static/js/bulma.js"></script>
  </head>
  <body>

    <nav class="navbar has-shadow">
      <div class="container">
        <div class="navbar-brand">
            <a class="navbar-item" href="/apl">
                <img src="../../static/CieveNavBar.png" alt="Cieve: an automated applicant solution">
            </a>
            <div class="navbar-burger burger" data-target="navMenuColorprimary-example">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>

        <div id="navMenuColorprimary-example" class="navbar-menu">

            <div class="navbar-start">
              <a class="navbar-item" href="/apl">
                <strong>Home</strong>
              </a>

              <a class="navbar-item" href="/privacy">
                Privacy
              </a>
            </div>

            <div class="navbar-end">

                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link" href="#">
                        {{name()}}
                    </a>
                    <div class="navbar-dropdown">

                        <a class="navbar-item is-leveled " href="/logout">
                            <span class="icon ">
                                    <i class="fa fa-sign-out-alt"></i>
                                </span>
                            Sign Out
                        </a>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </nav>



      <!--<nav class="navbar has-background-white">
          <div class="container">
              <div class="navbar-brand">
                  <a class="navbar-item" href="../">
                    <img src="Cieve2.png" alt="Logo">
                  </a>
                  <span class="navbar-burger burger" data-target="navbarMenu">
                     <span></span>
                     <span></span>
                     <span></span>
                 </span>
              </div>

              <div id="navbarMenu" class="navbar-menu">
                <div class="navbar-start has-text-dark">
                  <a class="navbar-item" href="LandingPageTest.html">
                    <strong>Home</strong>
                  </a>

                  <a class="navbar-item">
                    About
                  </a>
                </div>

                  <div class="navbar-end">

                      <div class="navbar-item has-dropdown is-hoverable">
                        <div class="navbar-link">
                          Josh Hankins
                        </div>
                        <div class="navbar-dropdown">
                            <a class="navbar-item">
                              <div>
                                <span class="icon is-small">
                                  <i class="fa fa-user-circle"></i>
                                </span>
                                Edit Personal Details
                              </div>
                            </a>
                          <a class="navbar-item">
                            <div>
                              <span class="icon is-small">
                                <i class="fa fa-key"></i>
                              </span>
                              Change Password
                            </div>
                          </a>
                          <a class="navbar-item">
                            <div>
                              <span class="icon is-small">
                                <i class="fa fa-sign-out-alt"></i>
                              </span>
                              Logout
                            </div>
                          </a>
                        </div>
                        </div>
                      </div>


                  </div>
              </div>
          </div>
      </nav> -->

      <div class="container">
      <section class="section">

        <div class="columns ">
            <div class="column is-4-tablet is-3-desktop is-2-widescreen">

                <aside class="menu ">
                    <p class="menu-label ">
                        General
                    </p>
                    <ul class="menu-list">
                        <li>
                            <a class="is-active" href="/apl"><span class="icon ">
                                    <i class="fa fa-tachometer-alt"></i>
                                </span>Dashboard</a>
                        </li>
                        <li>
                            <a href="/apl/newapplication"><span class="icon ">
                                    <i class="fas fa-user-md"></i>
                                </span>Apply Now</a>
                        </li>
                        <li>
                            <a href="/apl/jobsearch">
                                <span class="icon">
                                    <i class="fa fa-search"></i>
                                </span>
                                Job Search
                            </a>
                        </li>
                        <li>
                            <a href="/apl/applications">
                                <span class="icon">
                                    <i class="fa fa-book"></i>
                                </span>
                                Applications
                            </a>
                        </li>
                    </ul>
                    <!-- <p class="menu-label ">
                        Administration
                    </p>
                    <ul class="menu-list ">
                        <li>
                            <a href="users.html"><span class="icon ">
                                    <i class="fa fa-user-circle-o"></i>
                                </span>Users</a>
                        </li>
                        <li>
                            <a href="access.html">
                                <span class="icon">
                                    <i class="fa fa-id-card"></i>
                                </span>
                                Access rules
                            </a>
                        </li>
                        <li>
                            <a href="authentication.html"><span class="icon ">
                                    <i class="fa fa-lock"></i>
                                </span>Authentication</a>
                        </li>
                    </ul>
                    <p class="menu-label ">
                        Transactions
                    </p>
                    <ul class="menu-list ">
                        <li>
                            <a><span class="icon ">
                                    <i class="fa fa-credit-card"></i>
                                </span>Payments</a>
                        </li>
                        <li>
                            <a><span class="icon ">
                                    <i class="fa fa-exchange"></i>
                                </span>Transfers</a>
                        </li>
                        <li>
                            <a><span class="icon ">
                                    <i class="fa fa-balance-scale"></i>
                                </span>Balance</a>
                        </li>
                    </ul> -->
                </aside>

            </div>
            <main class="column ">
                <h1 class="title ">Dashboard</h1>

                <h2 class="subtitle ">{{message()}}</h2>

                <h2 class="subtitle ">Your phish code is {{phish()}}</h2>
                <p>This is randomly generated when you sign up. We use it to help protect you against phishing attacks.</p>
                <p>We'll include it in all of our emails to you so you know that it's us on the other end.</p>
                <p>We'll NEVER ask you for your phish code.</p>
            </main>

          </div>

      </section>
    </div>

      <!-- <div class = "container">
        <div class = "columns is-centered">
          <div class ="column is-5-tablet is-4-desktop is-4-widescreen">
            <form class = "box">
              <input name=_csrf_token type=hidden value="{{ csrf_token() }}">
              <div class = "field has-text-centered">
                <img src = "Cieve.png" width="150">
              </div>
              <div class="field">
                <label class="label">Email</label>
                <div class="control has-icons-left">
                  <input class="input" type="email" placeholder="e.g. alexjohn-son@gmail.com" >
                  <span class="icon is-small is-left">
                    <i class="fa fa-envelope"></i>
                  </span>
                </div>
              </div>
              <div class="field">
                <label class="label">Password</label>
                <div class="control has-icons-left">
                  <input class="input" type="password" placeholder="********" required>
                  <span class="icon is-small is-left">
                    <i class="fa fa-lock"></i>
                  </span>
                </div>
              </div>

              <div class="field">
                <button class="button is-success is-fullwidth">
                  Login
                </button>
              </div>

              <center><a class="button is-text">Forgot password?</a></center>
              <div>
                <center>
                  Don't have an account?
                  <a href="url"><u>Sign up<u></a>
                </center>
              </div>



            </form>
          </div>
        </div>
      </div> -->

    </div>
  </section
  </body>
</html>
