<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sign Up</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <link rel="stylesheet" href="../../static/main.css" />
    <link rel="icon" href="../../static/cieve.ico">
    <script async type="text/javascript" src="../../static/js/bulma.js"></script>
  </head>
  <body>


  <section class="hero is-light is-fullheight">
    <div class = "hero-head">
      <nav class="navbar has-background-white">
          <div class="container">
              <div class="navbar-brand">
                  <a class="navbar-item" href="LandingPage.html">
                    <img src="../../../CieveNavBar.png" alt="Logo">
                  </a>
                  <span class="navbar-burger burger" data-target="navbarMenu">
                     <span></span>
                     <span></span>
                     <span></span>
                 </span>
              </div>

              <div id="navbarMenu" class="navbar-menu">
                <div class="navbar-start has-text-dark">
                  <a class="navbar-item" href="/">
                    <strong>Home</strong>
                  </a>

                  <a class="navbar-item" href="/privacy">
                    Privacy
                  </a>
                </div>

                  <div class="navbar-end">
                      <!-- <span class="navbar-item">
                          <a class="button is-white is-outlined" href="#">
                              <span class="icon">
                                  <i class="fa fa-info-circle"></i>
                              </span>
                              <span>About</span>
                          </a>
                      </span>-->

                      <div class="navbar-item">

                        <div aria-hidden="" class="modal" id="my-modal">
                          <div class="modal-background close-modal" data-modal-id="#my-modal"></div>
                          <div class="modal-content">
                            this ia test
                           </div>
                           <button aria-label="close" class="delete close-modal" data-modal-id="#my-modal"></button>
                        </div>

                        <div aria-hidden="" class="modal" id="my-modal2">
                          <div class="modal-background close-modal" data-modal-id="#my-modal2"></div>
                          <div class="modal-content">
                           </div>
                           <button aria-label="close" class="delete close-modal" data-modal-id="#my-modal2"></button>
                        </div>

                        <div class="buttons">
                          <a class="button is-primary open-modal" data-modal-id="#my-modal" href="/apl/auth/register">
                            <strong>Sign up</strong>
                          </a>
                          <a class="button is-light open-modal" data-modal-id="#my-modal2" href="/login">
                            Log in
                          </a>
                        </div>
                      </div>

                  </div>
              </div>
          </div>
      </nav>
    </div>
    <div class="hero-body">
      <div class = "container">
        <div class = "columns is-centered">
          <div class ="column is-5-tablet is-4-desktop is-4-widescreen">
            <form class = "box" action="{{ url_for('auth.cliRegister') }}" method="POST">
                  <input name="_csrf_token" id="_csrf_token" type=hidden value="{{ csrf_token() }}">
                  <label class="label">What's your email?</label>
                  <input class="input" type="email" id="emailBox" placeholder="e.g. alexjohn-son@gmail.com" name="username">
                  <label class="label">Enter a strong password</label>
                  <input class="input" type="password" id="psswdBox" placeholder="********" name="password"required>
                  <div id="passwordStrength">
                    <p class="help is-danger">Must be longer than 8 characters and contain at least one uppercase, lowercase, numerical and special character</p>
                  </div>
                  <input class="button is-success is-fullwidth" type="submit" id="signupButton" value="Register">

            </form>
          </div>
        </div>
      </div>
    </div>
  </section>


      <footer class="footer">
      <div class="container">
      <div class="content has-text-centered">
        <p>
          @ <strong>Cieve</strong> 2019<br>
        </p>
      </div>
    </footer>
    </div>

    <script>
        $('form').submit(function() {
          var regex = new RegExp("^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#\$%\^&\*])(?=.{8,})");
          var password = document.getElementsByName('password')[0].value;
          return (regex.test(password))
        })
      </script>

  </body>
</html>
