<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <link rel="stylesheet" href="../../static/mainCss.css" />
    <link rel="icon" href="../../static/cieve.ico">
    <script async type="text/javascript" src="../../static/js/bulma.js"></script>
  </head>
  <body>


  <section class="hero is-light is-fullheight">
    <div class = "hero-head">
      <nav class="navbar has-background-white">
          <div class="container">
              <div class="navbar-brand">
                  <a class="navbar-item" href="/">
                    <img src="../../../static/CieveNavBar.png" alt="Logo">
                  </a>
                  <span class="navbar-burger burger" data-target="navbarMenu">
                     <span></span>
                     <span></span>
                     <span></span>
                 </span>
              </div>

              <div id="navbarMenu" class="navbar-menu">
                <div class="navbar-start has-text-dark">
                  <a class="navbar-item" href="/">
                    <strong>Home</strong>
                  </a>

                  <a class="navbar-item" href="/privacy">
                    Privacy
                  </a>
                </div>

                  <div class="navbar-end">
                      <!-- <span class="navbar-item">
                          <a class="button is-white is-outlined" href="#">
                              <span class="icon">
                                  <i class="fa fa-info-circle"></i>
                              </span>
                              <span>About</span>
                          </a>
                      </span>-->

                      <div class="navbar-item">

                        <div aria-hidden="" class="modal" id="my-modal">
                          <div class="modal-background close-modal" data-modal-id="#my-modal"></div>
                          <div class="modal-content">
                            this ia test
                           </div>
                           <button aria-label="close" class="delete close-modal" data-modal-id="#my-modal"></button>
                        </div>

                        <div aria-hidden="" class="modal" id="my-modal2">
                          <div class="modal-background close-modal" data-modal-id="#my-modal2"></div>
                          <div class="modal-content">
                           </div>
                           <button aria-label="close" class="delete close-modal" data-modal-id="#my-modal2"></button>
                        </div>

                        <div class="buttons">
                          <a class="button is-primary open-modal" data-modal-id="#my-modal" href="/apl/auth/register">
                            <strong>Sign up</strong>
                          </a>
                          <a class="button is-light open-modal" data-modal-id="#my-modal2" href="/login">
                            Log in
                          </a>
                        </div>
                      </div>

                  </div>
              </div>
          </div>
      </nav>
    </div>
    <div class="hero-body">
      <div class = "container">
        <div class = "columns is-centered">
          <div class ="column is-5-tablet is-4-desktop is-4-widescreen">

            <form class = "box" action="{{ url_for('auth.applicantLogin') }}" method="POST">
                <input name="_csrf_token" id="_csrf_token" type=hidden value="{{ csrf_token() }}">
                <div class = "field has-text-centered">
                  <h5 class="title is-5">Applicant Login</h5>
                </div>
                <label class="label">Email</label>
                <input class="input" type="email" id="emailBox" placeholder="e.g. alexjohn-son@gmail.com" name="username">
                <label class="label">Password</label>
                <input class="input" type="password" id="psswdBox" placeholder="********" name="password" required>
                <br><br>
                <input class="button is-success is-fullwidth" type="submit" id="loginButton" value="Login">
            </form>

          </div>
        </div>
      </div>
    </div>
  </section>
  </body>
</html>
