<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sign Up</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <link rel="stylesheet" href="mainCss.css" />
  </head>
  <body>


  <section class="hero is-light is-fullheight">
    <div class = "hero-head">
      <nav class="navbar has-background-white">
          <div class="container">
              <div class="navbar-brand">
                  <a class="navbar-item" href="LandingPage.html">
                    <img src="Cieve2.png" alt="Logo">
                  </a>
                  <span class="navbar-burger burger" data-target="navbarMenu">
                     <span></span>
                     <span></span>
                     <span></span>
                 </span>
              </div>

              <div id="navbarMenu" class="navbar-menu">
                <div class="navbar-start has-text-dark">
                  <a class="navbar-item" href="LandingPage.html">
                    <strong>Home</strong>
                  </a>

                  <a class="navbar-item">
                    About
                  </a>
                </div>

                  <div class="navbar-end">
                      <!-- <span class="navbar-item">
                          <a class="button is-white is-outlined" href="#">
                              <span class="icon">
                                  <i class="fa fa-info-circle"></i>
                              </span>
                              <span>About</span>
                          </a>
                      </span>-->

                      <div class="navbar-item">

                        <div aria-hidden="" class="modal" id="my-modal">
                          <div class="modal-background close-modal" data-modal-id="#my-modal"></div>
                          <div class="modal-content">
                            this ia test
                           </div>
                           <button aria-label="close" class="delete close-modal" data-modal-id="#my-modal"></button>
                        </div>

                        <div aria-hidden="" class="modal" id="my-modal2">
                          <div class="modal-background close-modal" data-modal-id="#my-modal2"></div>
                          <div class="modal-content">
                           </div>
                           <button aria-label="close" class="delete close-modal" data-modal-id="#my-modal2"></button>
                        </div>

                        <div class="buttons">
                          <a class="button is-primary open-modal" data-modal-id="#my-modal">
                            <strong>Sign up</strong>
                          </a>
                          <a class="button is-light open-modal" data-modal-id="#my-modal2" href="login.html">
                            Log in
                          </a>
                        </div>
                      </div>

                  </div>
              </div>
          </div>
      </nav>
    </div>
    <div class="hero-body">
      <div class = "container">
        <div class = "columns is-centered">
          <div class ="column is-5-tablet is-4-desktop is-4-widescreen">
            <form class = "box">
              <div class = "field has-text-centered">
                <img src = "Cieve.png" width="150">
              </div>

              <div class="field">
                <label class="label">What's your name?</label>
                <div class="control has-icons-left">
                  <input class="input" type="name" id="regName" placeholder="e.g. John Doe" >
                  <span class="icon is-small is-left">
                    <i class="fa fa-user"></i>
                  </span>
                </div>

              <div class="field">
                <label class="label">What's your email?</label>
                <div class="control has-icons-left">
                  <input class="input" type="email" id="regEmail" placeholder="e.g. alexjohn-son@gmail.com" >
                  <span class="icon is-small is-left">
                    <i class="fa fa-envelope"></i>
                  </span>
                </div>
              </div>

              <div class="field">
                <label class="label">Enter a strong password</label>
                <div class="control has-icons-left">
                  <input class="input" type="password" id="regPasswd" placeholder="********" required>
                  <span class="icon is-small is-left">
                    <i class="fa fa-lock"></i>
                  </span>
                </div>
              </div>

              <div class="field">
                <button class="button is-success is-fullwidth" id="registerBttn">
                  Sign Up
                </button>
              </div>

              <div>
                <center>
                  Already have an account?
                  <a href="login.html"><u>Sign in<u></a>
                </center>
              </div>



            </form>
          </div>
        </div>
      </div>
    </div>
  </section>


      <footer class="footer">
      <div class="container">
      <div class="content has-text-centered">
        <p>
          @ <strong>Cieve</strong> 2019<br>
        </p>
      </div>
    </footer>
    </div>


  </body>
</html>
