<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Dashboard</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <link rel="stylesheet" href="../../static/main.css" />
    <script src="../../static/js/jquery-3.3.1.min.js"></script>
    <link href="../../static/dist/css/bulma-steps.min.css" rel="stylesheet">
    <script src="../../static/dist/js/bulma-steps.js"></script>
    <script src="../../static/accordion-dist/js/bulma-accordion.js"></script>
    <link href="../../static/accordion-dist/css/bulma-accordion.min.css" rel="stylesheet">
    <link href="../../static/tooltip-dist/css/bulma-tooltip.min.css" rel="stylesheet">
    <link rel="icon" href="../static/cieve.ico">
    <!-- <script async type="text/javascript" src="../static/js/bulma.js"></script> -->


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma-steps@2.2.1/dist/css/bulma-steps.min.css">
    <script>
      $(document).ready(function() {
          var currentStage = 0;

          $('#nextStepBttn').on('click', function() {
            $('#step' + currentStage).empty();
            currentStage++;
            var stages = {{(jobData["stagesType"]|safe)}};

            var stageToDisplay = stages[currentStage];

            console.log($('#step' + currentStage));

            // for (i = 1; i < (stages.length-1); i++) {
            //   $('#step' + i).empty();
            // }

            if (stageToDisplay == "Test") {
              displayTest(currentStage);
            } else if (stageToDisplay == "Interview") {
              displayInterview(currentStage);
            } else if (stageToDisplay == "Accepted") {
              displayAccepted(currentStage);
            }

            var candidateData = {};
            candidateData["jobID"] = $("#chosenJobID").text();
            candidateData["stageID"] = currentStage;
            candidateData["_csrf_token"] = document.getElementById('_csrf_token').value;
            $.ajax({
                url: '/cli/stageDetail',
                type: 'POST',
                data: candidateData,
                success: function(response){
                    console.log(response);
                    obj = jQuery.parseJSON(JSON.stringify(response));
                    completed = obj[0];
                    uncompleted = obj[1];
                    if (stageToDisplay == "Test") {
                      addToTestStep(completed, uncompleted);
                    } else if (stageToDisplay == "Interview") {
                      addToInterviewStep(completed, uncompleted);
                    } else {
                      addToAcceptStep(uncompleted);
                    }
                    // add colours to scores
                    addColourToScores();
                }
            })

          });

          function addColourToScores(){
            $('div[class="scoreValue"]').each(function(index,item){
                var r = parseInt((255 * (125 - $(this).text())) / 100);
                var g = parseInt((255 * $(this).text()) / 80);
                var b = 0;
                var bgColor="rgb("+r+","+g+","+b+")";
                $(item).css('color', bgColor);
            });
          }

          function displayTest(stageNum){
            $('#step' + currentStage).append(`<div class="tabs is-centered is-boxed" id="tab_header">
            <ul>
            <li class="item is-active onclick="openTab(event, 'tabPage1')" data-option="1"><a><i class="fas fa-check"></i>&nbsp Completed</a></li> <li class="item onclick="openTab(event, 'tabPage2')" data-option="2"><a><i class="fas fa-times"></i>&nbsp Uncompleted</a></li> </ul> </div>
             <div class="box" id="tab_container"> <div class="container_item is-active" data-item="1" id="tabPage1">
             <table class="table is-fullwidth is-hoverable center-table" id="CompleteCandidates">
             <tr>
             <td><b>#</b></td>
             <td><button class="button is-small is-tooltip-info tooltip is-tooltip-multiline" data-tooltip="A star indicates that this candidate has selected this as their prefered job"><i class="fas fa-info"></td> <td style="width: 80%"><b class="is-pulled-left">Applicant Name</b></button></td>
             <td><button class="button is-small is-tooltip-info tooltip is-tooltip-multiline" id="scoreButton" data-tooltip="The computed ability of each candidate independent of the job"><b>Score</b></button></td>
              <td><button class="button is-small is-tooltip-info tooltip is-tooltip-multiline" data-tooltip="The suitability of the candiate specifically for the job"><b>Job Match</b></button></td>
              <td><button class="button is-small is-tooltip-info tooltip is-tooltip-multiline" data-tooltip="The candidate score in the given test"><b>Test Score</b></button></td> <td></td> <td></td>
              </tr>
               </table>
               </div>
               <div class="container_item" data-item="2" id="tabPage2">
                <table class="table is-fullwidth is-hoverable center-table" id="UncompleteCandidates">
                <tr>
                <td><b>#</b></td>
                <td><button class="button is-small is-tooltip-info tooltip is-tooltip-multiline" data-tooltip="A star indicates that this candidate has selected this as their prefered job"><i class="fas fa-info"></button></td>
                <td style="width: 80%"><b class="is-pulled-left">Applicant Name</b></td>
                <td><button class="button is-small is-tooltip-info tooltip is-tooltip-multiline" id="scoreButton" data-tooltip="The computed ability of each candidate independent of the job"><b>Score</b></button></td>
                <td><button class="button is-small is-tooltip-info tooltip is-tooltip-multiline" data-tooltip="The suitability of the candiate specifically for the job"><b>Job Match</b></button></td> <td></td> <td></td> </tr>
                </table>
                </div>
                </div>`);
          }

          function displayInterview(stageNum){
            $('#step' + currentStage).append(`<div class="tabs is-centered is-boxed" id="tab_header">
             <ul>
             <li class="item is-active" data-option="1"><a><i class="fas fa-check"></i>&nbsp Booked</a></li>
             <li class="item" data-option="2"><a><i class="fas fa-times"></i>&nbsp Unbooked</a></li>
             </ul>
             </div>
             <div class="box" id="tab_container">
              <div class="container_item is-active" data-item="1">
              <table class="table is-fullwidth is-hoverable center-table" id="CompleteCandidates">
               <tr>
               <td><b>#</b></td>
               <td><button class="button is-small is-tooltip-info tooltip is-tooltip-multiline" data-tooltip="A star indicates that this candidate has selected this as their prefered job"><i class="fas fa-info"></button></td>
               <td style="width: 80%;"><b class="is-pulled-left">Applicant Name</b></td>
               <td><button class="button is-small is-tooltip-info tooltip is-tooltip-multiline" id="scoreButton" data-tooltip="The computed ability of each candidate independent of the job"><b>Score</b></button></td>
                <td><button class="button is-small is-tooltip-info tooltip is-tooltip-multiline" data-tooltip="The suitability of the candiate specifically for the job"><b>Job Match</b></button></td>
                <td><button class="button is-small is-tooltip-info tooltip is-tooltip-multiline" data-tooltip="The time that the candidate has selected"><b>Slot</b></button></td>
                <td></td> <td></td> </tr> </table> </div> <div class="container_item" data-item="2"> <table class="table is-fullwidth is-hoverable center-table" id="UncompleteCandidates">
                <tr>
                <td><b>#</b></td>
                <td><button class="button is-small is-tooltip-info tooltip is-tooltip-multiline" data-tooltip="A star indicates that this candidate has selected this as their prefered job"><i class="fas fa-info"></button></td>
                 <td style="width: 80%;"><b class="is-pulled-left">Applicant Name</b></td>
                 <td><button class="button is-small is-tooltip-info tooltip is-tooltip-multiline" id="scoreButton" data-tooltip="The computed ability of each candidate independent of the job"><b>Score</b></button></td>
                  <td><button class="button is-small is-tooltip-info tooltip is-tooltip-multiline" data-tooltip="The suitability of the candiate specifically for the job"><b>Job Match</b></button></td> <td></td> <td></td> </tr> </table> </div></div>`);
          }

          function displayAccepted(stageNum){
            $('#step' + currentStage).append(`<div class="box"> <table class="table is-fullwidth is-hoverable center-table" id="acceptedCandidates"> <tr> <td><b>#</b></td> <td><button class="button is-small is-tooltip-info tooltip is-tooltip-multiline" data-tooltip="A star indicates that this candidate has selected this as their prefered job"><i class="fas fa-info"></button></td> <td style="width: 80%;"><b class="is-pulled-left">Applicant Name</b></td> <td><button class="button is-small is-tooltip-info tooltip is-tooltip-multiline" id="scoreButton" data-tooltip="The computed ability of each candidate independent of the job"><b>Score</b></button></td> <td><button class="button is-small is-tooltip-info tooltip is-tooltip-multiline" data-tooltip="The suitability of the candiate specifically for the job"><b>Job Match</b></button></td> </tr> </table></div>`);
          }

          function displayOnboarding(stageNum){
            $('#step' + currentStage).append('<div class="box"> <table class="table is-fullwidth is-hoverable center-table" id="onboardingCandidates"> <tr> <td><b>#</b></td> <td><button class="button is-small is-tooltip-info tooltip is-tooltip-multiline" data-tooltip="A star indicates that this candidate has selected this as their prefered job"><i class="fas fa-info"></button></td> <td style="width: 80%;"><b class="is-pulled-left">Applicant Name</b></td> <td><button class="button is-small is-tooltip-info tooltip is-tooltip-multiline" id="scoreButton" data-tooltip="The computed ability of each candidate independent of the job"><b>Score</b></button></td> <td><button class="button is-small is-tooltip-info tooltip is-tooltip-multiline" data-tooltip="The suitability of the candiate specifically for the job"><b>Job Match</b></button></td><td></td><td></td> </tr> </table></div>');
          }

          function addToTestStep(completed, uncompleted) {
            var rank=1;
            completed.forEach(e => {
                var rowString = "<tr><td>"+rank+"</td>";
                rank++;
                if (e['preferred']==1) {
                  rowString = rowString + '<td><i class="fas fa-star" style="color:#FFDF00;""></i></td>';
                } else {
                  rowString = rowString + '<td></td>';
                }
                rowString = rowString + `<td><p class="is-pulled-left">
                  <form class="" action="applicantReview" method="post">
                    <input type="hidden" name="applicant id" value=`+e["applicant id"]+`>
                    <input name="_csrf_token" id="_csrf_token" type=hidden value="{{ csrf_token() }}">
                    <input type="hidden" name="name" value=`+e["name"]+`>
                  <button class="button is-text is-pulled-left" type="submit">`+e["name"]+`</button>
                </form>
                </p></td>`;
                var score = Math.round((e['basic scores'].score)*100);
                var jobScore = Math.round((e['specialized score'])*100);
                var stageScore = parseInt(e['stage score']);
                rowString = rowString + '<td><b><div class="scoreValue">'+score+'</div></b></td>';
                rowString = rowString + '<td><b><div class="scoreValue">'+jobScore+'</div></b></td>';
                rowString = rowString + '<td><b><div class="stageValue">'+stageScore+'</div></b></td>';
                rowString = rowString + '<td><div onclick="advanceCandidate(this)" style="cursor: pointer;" id='+e["applicant id"]+'><i class="fas fa-arrow-right"></i></div></td>';
                rowString = rowString + '<td><div onclick="rejectCandidate(this)" style="cursor: pointer;" id='+e["_id"]+'><i class="fas fa-times"</i></td>';
                rowString = rowString + '</tr>';
                $('#CompleteCandidates').append(rowString);
            });
            uncompleted.forEach(e => {
                var rowString = "<tr><td>"+rank+"</td>";
                rank++;
                if (e['preferred']==1) {
                  rowString = rowString + '<td><i class="fas fa-star" style="color:#FFDF00;""></i></td>';
                } else {
                  rowString = rowString + '<td></td>';
                }
                rowString = rowString +`<td><p class="is-pulled-left">
                  <form class="" action="applicantReview" method="post">
                    <input type="hidden" name="applicant id" value=`+e["applicant id"]+`>
                    <input name="_csrf_token" id="_csrf_token" type=hidden value="{{ csrf_token() }}">
                    <input type="hidden" name="name" value=`+e["name"]+`>
                  <button class="button is-text is-pulled-left" type="submit">`+e["name"]+`</button>
                </form>
                </p></td>`;
                var score = Math.round((e['basic scores'].score)*100);
                var jobScore = Math.round((e['specialized score'])*100);
                rowString = rowString + '<td><b><div class="scoreValue">'+score+'</div></b></td>';
                rowString = rowString + '<td><b><div class="scoreValue">'+jobScore+'</div></b></td>';
                rowString = rowString + '<td><div onclick="advanceCandidate(this)" style="cursor: pointer;" id='+e["applicant id"]+'><i class="fas fa-arrow-right"></i></div></td>';
                rowString = rowString + '<td><div onclick="rejectCandidate(this)" style="cursor: pointer;" id='+e["_id"]+'><i class="fas fa-times"</i></td>';
                rowString = rowString + '</tr>';
                $('#UncompleteCandidates').append(rowString);
            });
          }

          function addToInterviewStep(completed, uncompleted) {
            var rank=1;
            completed.forEach(e => {
                var rowString = "<tr><td>"+rank+"</td>";
                rank++;
                if (e['preferred']==1) {
                  rowString = rowString + '<td><i class="fas fa-star" style="color:#FFDF00;""></i></td>';
                } else {
                  rowString = rowString + '<td></td>';
                }
                rowString = rowString + `<td><p class="is-pulled-left">
                  <form class="" action="applicantReview" method="post">
                    <input type="hidden" name="applicant id" value=`+e["applicant id"]+`>
                    <input name="_csrf_token" id="_csrf_token" type=hidden value="{{ csrf_token() }}">
                    <input type="hidden" name="name" value=`+e["name"]+`>
                  <button class="button is-text is-pulled-left" type="submit">`+e["name"]+`</button>
                </form>
                </p></td>`;
                var score = Math.round((e['basic scores'].score)*100);
                var jobScore = Math.round((e['specialized score'])*100);
                var booking = e['interviews']
                rowString = rowString + '<td><b><div class="scoreValue">'+score+'</div></b></td>';
                rowString = rowString + '<td><b><div class="scoreValue">'+jobScore+'</div></b></td>';
                rowString = rowString + '<td><b><div class="bookingTime">'+booking+'</div></b></td>';
                rowString = rowString + '<td><div onclick="advanceCandidate(this)" style="cursor: pointer;" id='+e["applicant id"]+'><i class="fas fa-arrow-right"></i></div></td>';
                rowString = rowString + '<td><div onclick="rejectCandidate(this)" style="cursor: pointer;" id='+e["_id"]+'><i class="fas fa-times"</i></td>';
                rowString = rowString + '</tr>';
                $('#CompleteCandidates').append(rowString);
            });
            uncompleted.forEach(e => {
                var rowString = "<tr><td>"+rank+"</td>";
                rank++;
                if (e['preferred']==1) {
                  rowString = rowString + '<td><i class="fas fa-star" style="color:#FFDF00;""></i></td>';
                } else {
                  rowString = rowString + '<td></td>';
                }
                rowString = rowString +`<td><p class="is-pulled-left">
                  <form class="" action="applicantReview" method="post">
                    <input type="hidden" name="applicant id" value=`+e["applicant id"]+`>
                    <input name="_csrf_token" id="_csrf_token" type=hidden value="{{ csrf_token() }}">
                    <input type="hidden" name="name" value=`+e["name"]+`>
                  <button class="button is-text is-pulled-left" type="submit">`+e["name"]+`</button>
                </form>
                </p></td>`;
                var score = Math.round((e['basic scores'].score)*100);
                var jobScore = Math.round((e['specialized score'])*100);
                rowString = rowString + '<td><b><div class="scoreValue">'+score+'</div></b></td>';
                rowString = rowString + '<td><b><div class="scoreValue">'+jobScore+'</div></b></td>';
                rowString = rowString + '<td><div onclick="advanceCandidate(this)" style="cursor: pointer;" id='+e["applicant id"]+'><i class="fas fa-arrow-right"></i></div></td>';
                rowString = rowString + '<td><div onclick="rejectCandidate(this)" style="cursor: pointer;" id='+e["_id"]+'><i class="fas fa-times"</i></td>';
                rowString = rowString + '</tr>';
                $('#UncompleteCandidates').append(rowString);
            });
          }

          function addToAcceptStep(uncompleted) {
            var rank=1;
            uncompleted.forEach(e => {
                var rowString = "<tr><td>"+rank+"</td>";
                rank++;
                if (e['preferred']==1) {
                  rowString = rowString + '<td><i class="fas fa-star" style="color:#FFDF00;""></i></td>';
                } else {
                  rowString = rowString + '<td></td>';
                }
                rowString = rowString + `<td><p class="is-pulled-left">
                  <form class="" action="applicantReview" method="post">
                    <input type="hidden" name="applicant id" value=`+e["applicant id"]+`>
                    <input name="_csrf_token" id="_csrf_token" type=hidden value="{{ csrf_token() }}">
                    <input type="hidden" name="name" value=`+e["name"]+`>
                  <button class="button is-text is-pulled-left" type="submit">`+e["name"]+`</button>
                </form>
                </p></td>`;
                var score = Math.round((e['basic scores'].score)*100);
                var jobScore = Math.round((e['specialized score'])*100);
                rowString = rowString + '<td><b><div class="scoreValue">'+score+'</div></b></td>';
                rowString = rowString + '<td><b><div class="scoreValue">'+jobScore+'</div></b></td>';
                rowString = rowString + '</tr>';
                $('#acceptedCandidates').append(rowString);
            })
          }

          $('#previousStepBttn').on('click', function() {
            $('#step' + currentStage).empty();
            currentStage--;
            var candidateData = {};
            var stages = {{(jobData["stagesType"]|safe)}};
            console.log(stages);
            var stageToDisplay = stages[currentStage];
            if (stageToDisplay == "Test") {
              displayTest(currentStage);
            } else if (stageToDisplay == "Interview") {
              displayInterview(currentStage);
            } else {
              displayOnboarding(currentStage);
            }

            candidateData["jobID"] = $("#chosenJobID").text();
            candidateData["stageID"] = currentStage;
            candidateData["_csrf_token"] = document.getElementById('_csrf_token').value;
            $.ajax({
                url: '/cli/stageDetail',
                type: 'POST',
                data: candidateData,
                success: function(response){
                    console.log(response);
                    obj = jQuery.parseJSON(JSON.stringify(response));
                    completed = obj[0];
                    uncompleted = obj[1];
                    if (stageToDisplay == "Onboarding") {
                      addToOnboardingStep(completed);
                    } else if (stageToDisplay == "Interview") {
                      addToInterviewStep(completed, uncompleted);
                    } else {
                      addToTestStep(completed, uncompleted);
                    }
                    addColourToScores();
                }
            })
          });

          function addToOnboardingStep(completed) {
            var rank=1;
            completed.forEach(e => {
                var rowString = "<tr><td>"+rank+"</td>";
                rank++;
                if (e['preferred']==1) {
                  rowString = rowString + '<td><i class="fas fa-star" style="color:#FFDF00;""></i></td>';
                } else {
                  rowString = rowString + '<td></td>';
                }
                rowString = rowString + `<td><p class="is-pulled-left">
                  <form class="" action="applicantReview" method="post">
                    <input type="hidden" name="applicant id" value=`+e["applicant id"]+`>
                    <input name="_csrf_token" id="_csrf_token" type=hidden value="{{ csrf_token() }}">
                    <input type="hidden" name="name" value=`+e["name"]+`>
                  <button class="button is-text is-pulled-left" type="submit">`+e["name"]+`</button>
                </form>
                </p></td>`;


                var score = Math.round((e['basic scores'].score)*100);
                var jobScore = Math.round((e['specialized score'])*100);
                rowString = rowString + '<td><b><div class="scoreValue">'+score+'</div></b></td>';
                rowString = rowString + '<td><b><div class="scoreValue">'+jobScore+'</div></b></td>';
                rowString = rowString + '<td><div onclick="advanceCandidate(this)" style="cursor: pointer;" id='+e["applicant id"]+'><i class="fas fa-arrow-right"></i></div></td>';
                rowString = rowString + '<td><div onclick="rejectCandidate(this)" style="cursor: pointer;" id='+e["_id"]+'><i class="fas fa-times"</i></td>';
                rowString = rowString + '</tr>';
                $('#onboardingCandidates').append(rowString);
            })
          }

          // $(document).on('click', '#previousStepBttn:enabled', function(){
          //   currentStage--;
          //   alert(currentStage);
          // });

          $('body').on('click', '#tab_header ul li.item', function() {
            var number = $(this).data('option');
            $('#tab_header ul li.item').removeClass('is-active');
            $(this).addClass('is-active');
            $('#tab_container .container_item').removeClass('is-active');
            $('div[data-item="' + number + '"]').addClass('is-active');
          });

          $('.advanceCandidate').click(function(event) {
              var candidateID = $(this).attr('id');
              alert(candidateID);
          });

          $('#scoreButton').click(function(event) {
              alert("test");
          });

          $('div[class="scoreValue"]').each(function(index,item){
              var r = parseInt((255 * (125 - $(this).text())) / 100);
              var g = parseInt((255 * $(this).text()) / 80);
              var b = 0;
              var bgColor="rgb("+r+","+g+","+b+")";
              $(item).css('color', bgColor);
          });
    });
    </script>

    <script>document.addEventListener("DOMContentLoaded", function(event) {
              console.log("DOM fully loaded and parsed");
              bulmaSteps.attach();
            }); //bulmaCalendar.attach();</script>

  </head>
  <body>

    <nav class="navbar has-shadow">
      <div class="container">
        <div class="navbar-brand">
            <a class="navbar-item" href="/apl">
                <img src="../../static/CieveNavBar.png" alt="Cieve: an automated applicant solution">
            </a>
            <div class="navbar-burger burger" data-target="navMenuColorprimary-example">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>

        <div id="navMenuColorprimary-example" class="navbar-menu">

            <div class="navbar-start">
              <a class="navbar-item" href="/apl">
                <strong>Home</strong>
              </a>

            </div>

            <div class="navbar-end">

                        <a class="navbar-item is-leveled " href="/logout">
                            <span class="icon ">
                                    <i class="fa fa-sign-out-alt"></i>
                                </span>
                            Sign Out
                        </a>

            </div>
        </div>
        </div>
    </nav>


      <div class="container">
      <section class="section">

        <div class="columns ">
            <div class="column is-4-tablet is-3-desktop is-2-widescreen">

              <aside class="menu ">
                  <p class="menu-label ">
                      General
                  </p>
                  <ul class="menu-list">
                      <li>
                          <a href="/cli"><span class="icon ">
                                  <i class="fa fa-tachometer-alt"></i>
                              </span>Dashboard</a>
                      </li>
                      <li>
                          <a class="is-active" href="/cli/jobs">
                              <span class="icon">
                                  <i class="fa fa-search"></i>
                              </span>
                              Your Jobs
                          </a>
                      </li>
                      <li>
                          <a href="/cli/newjob">
                              <span class="icon">
                                  <i class="fa fa-plus"></i>
                              </span>
                              New Job
                          </a>
                      </li>
                  </ul>
              </aside>




            </div>
            <div class="column">
            <input name=_csrf_token id="_csrf_token" type=hidden value="{{ csrf_token() }}">
            <h3 class="title is-3">{{jobData["vacancy title"]}}</h3>
            <div id="chosenJobID" style='display:none;'>{{jobData["_id"]}}</div>
            <div class="steps" id="jobStages">
              <div class="step-item is-active is-success">
                <div class="step-marker">1</div>
                <div class="step-details">
                  <p class="step-title">Onboarding</p>
                </div>
              </div>
              {% for i in range (1, jobData["stages"]|length) %}
                <div class="step-item">
                  <div class="step-marker">{{i+1}}</div>
                  <div class="step-details">
                    <p class="step-title">{{jobData["stagesDetail"][i]}}</p>
                  </div>
                </div>
              {% endfor %}

              <div class="steps-content">

                <div class="step-content has-text-centered is-active" id="step0">
                  <div class="box">
                    <table class="table is-fullwidth is-hoverable center-table" id="dynamic_field_aLevels">
                        <tr>
                             <td><b>#</b></td>
                             <td><button class="button is-small is-tooltip-info tooltip is-tooltip-multiline" data-tooltip="A star indicates that this candidate has selected this as their prefered job"><i class="fas fa-info"></button></td>
                             <td style="width: 80%;"><b class="is-pulled-left">Applicant Name</b></td>
                             <td><button class="button is-small is-tooltip-info tooltip is-tooltip-multiline" id="scoreButton" data-tooltip="The computed ability of each candidate independent of the job"><b>Score</b></button></td>
                             <td><button class="button is-small is-tooltip-info tooltip is-tooltip-multiline" data-tooltip="The suitability of the candiate specifically for the job"><b>Job Match</b></button></td>
                             <td></td>
                             <td></td>
                        </tr>

                        {% for i in range (0, applicants|length) %}
                          <tr>
                            <td>{{i+1}}</td>
                            {% if applicants[i].preferred %}
                              <td><i class="fas fa-star" style='color:#FFDF00;'></i></td>
                            {% else %}
                              <td></td>
                            {% endif %}
                            <td><p class="is-pulled-left">
                            <form class="" action="applicantReview" method="post">
                                <input type="hidden" name="applicant id" value="{{applicants[i]['applicant id']}}">
                                <input name="_csrf_token" id="_csrf_token" type=hidden value="{{ csrf_token() }}">
                                <input type="hidden" name="name" value="{{applicants[i].name}}">
                              <button class="button is-text is-pulled-left" type="submit">{{applicants[i].name}}</button>
                            </form>
                            </p></td>
                            <td><b><div class="scoreValue">{{(applicants[i]["basic scores"]["score"]*100)|int}}</div></b></td>
                            <td><b><div class="scoreValue">{{(applicants[i]["specialized score"]*100)|int}}</div></b></td>
                            <td><div onclick="advanceCandidate(this)" style='cursor: pointer;' id={{applicants[i]['applicant id']}}><i class="fas fa-arrow-right"></i></div></td>
                            <td><div onclick="rejectCandidate(this)" style='cursor: pointer;' id={{applicants[i]['_id']}}><i class="fas fa-times"</i></td>
                          </tr>
                        {%endfor%}
                     </table>
                  </div>
                </div>


                {% for i in range (1, jobData["stagesType"]|length) %}
                  <div class="step-content has-text-centered is-active" id="step{{i}}">
                  </div>
                {%endfor%}

                <script>
                  function advanceCandidate(elem){
                    var id = $(elem).attr("id");
                    $(elem).parent().parent().remove();
                    var candidateData = {};
                    candidateData["applicant id"] = id;
                    candidateData["job id"] = $("#chosenJobID").text();
                    candidateData["_csrf_token"] = document.getElementById('_csrf_token').value;
                    $.ajax({
                        url: '/cli/moveApplicant',
                        type: 'POST',
                        data: candidateData,
                        success: function(response){
                            console.log(response);
                        }
                    })
                  }

                  function rejectCandidate(elem){
                    var id = $(elem).attr("id");
                    $(elem).parent().parent().remove();
                    var candidateData = {};
                    candidateData["_id"] = id;
                    candidateData["_csrf_token"] = document.getElementById('_csrf_token').value;
                    $.ajax({
                        url: '/cli/rejectApplicant',
                        type: 'POST',
                        data: candidateData,
                        success: function(response){
                            console.log(response);
                        }
                    })
                  }
                </script>

                <!-- <div class="step-content has-text-centered">
                    <div class="tabs is-centered is-boxed" id="tab_header">
                      <ul>
                        <li class="item is-active" data-option="1"><a><i class="fas fa-check"></i>&nbsp Completed</a></li>
                        <li class="item" data-option="2"><a><i class="fas fa-times"></i>&nbsp  Uncompleted</a></li>
                      </ul>
                    </div>
                    <div class="box" id="tab_container">
                      <div class="container_item is-active" data-item="1">
                        <table class="table is-fullwidth is-hoverable center-table">
                            <tr>
                                 <td><b>#</b></td>
                                 <td><b>Applicant Name</b></td>
                                 <td><b>Score</b></td>
                                 <td><b>Job Match</b></td>
                                 <td><button class="button is-tooltip-info tooltip is-tooltip-multiline" data-tooltip="Computated score based on the candidates ability and their"><b>Stage Score</b></button></td>
                                 <td></td>
                                 <td></td>
                            </tr>
                         </table>
                      </div>
                      <div class="container_item" data-item="2">
                        <table class="table is-fullwidth is-hoverable center-table">
                            <tr>
                                 <td><b>#</b></td>
                                 <td><b>Applicant Name</b></td>
                                 <td><b>Score</b></td>
                                 <td><b>Job Match</b></td>
                                 <td></td>
                                 <td></td>
                            </tr>
                         </table>
                      </div>
                    </div>
                </div> -->

              </div>

              <div class="steps-actions">
                <div class="steps-action">
                  <a href="#" data-nav="previous" id="previousStepBttn" class="button is-light">Previous</a>
                </div>
                <div class="steps-action">
                  <a href="#" data-nav="next" id="nextStepBttn" class="button is-light">Next</a>
                </div>
              </div>

            </div>


            <!-- {{applicants}} -->

            <!-- <input name=_csrf_token type=hidden id="_csrf_token" value="{{ csrf_token() }}">
            {%for job in jobData%}
                <div class="box" id="{{job["_id"]}}">
                  <div><h5 class="title is-5">{{job["vacancy title"]}}</h5>
                </div> <span class="tag is-light"><b> Division </b> &nbsp {{job["division"]}}</span> <span class="tag is-light"><b> Role Type </b> &nbsp {{job["role type"]}}</span> <span class="tag is-light"><b> <i class="fas fa-map-marker-alt"> </i> </b> &nbsp {{job["location"]}}</span></div>

            {%endfor%}
            </div> -->

            <!-- <br>
            <br>
            HELLO FRIEND -->

      </section>
    </div>
  </body>
</html>
