<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Dashboard</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <link rel="stylesheet" href="../../static/main.css" />
    <link rel="stylesheet" href="enlarge.css" />
    <link rel="icon" href="../static/cieve.ico">
    <script src="../../static/js/jquery-3.3.1.min.js"></script>
    <script async type="text/javascript" src="../static/js/bulma.js"></script>

    <script>
        $(document).ready(function() {

                  var token = document.getElementById('_csrf_token').value;

                  $('.closeJobBttn').on('click', function() {
                    event.stopPropagation();
                    var idJob = $(this).parent().attr('id');
                    $(this).parent().remove();
                    candidateData = {};
                    candidateData["jobID"] = idJob;
                    candidateData["_csrf_token"] = document.getElementById('_csrf_token').value;
                    $.ajax({
                        url: '/cli/delete',
                        type: 'POST',
                        data: candidateData,
                        success: function(response){
                            console.log(response);
                        }
                    })

                  });

                  $('.box').click(function(event) {
                      var boxID = $(this).attr('id');
                      var jobdata = {};
                      jobdata["jobID"] = boxID
                      jobdata["_csrf_token"] = document.getElementById('_csrf_token').value;

                      var form = document.createElement('form');
                      document.body.appendChild(form);
                      form.method = 'post';
                      form.action = '/cli/jobBreakdown';
                      for (var name in jobdata) {
                          var input = document.createElement('input');
                          input.type = 'hidden';
                          input.name = name;
                          input.value =jobdata[name];
                          form.appendChild(input);
                      }
                      form.submit();
                  });
        });
    </script>

  </head>
  <body>

    <nav class="navbar has-shadow">
      <div class="container">
        <div class="navbar-brand">
            <a class="navbar-item" href="/apl">
                <img src="../../static/CieveNavBar.png" alt="Cieve: an automated applicant solution">
            </a>
            <div class="navbar-burger burger" data-target="navMenuColorprimary-example">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>

        <div id="navMenuColorprimary-example" class="navbar-menu">

            <div class="navbar-start">
              <a class="navbar-item" href="/apl">
                <strong>Home</strong>
              </a>


            </div>

            <div class="navbar-end">

                        <a class="navbar-item is-leveled " href="/logout">
                            <span class="icon ">
                                    <i class="fa fa-sign-out-alt"></i>
                                </span>
                            Sign Out
                        </a>

            </div>
        </div>
        </div>
    </nav>


      <div class="container">
      <section class="section">

        <div class="columns ">
            <div class="column is-4-tablet is-3-desktop is-2-widescreen">

              <aside class="menu ">
                  <p class="menu-label ">
                      General
                  </p>
                  <ul class="menu-list">
                      <li>
                          <a href="/cli"><span class="icon ">
                                  <i class="fa fa-tachometer-alt"></i>
                              </span>Dashboard</a>
                      </li>
                      <li>
                          <a class="is-active" href="/cli/jobs">
                              <span class="icon">
                                  <i class="fa fa-search"></i>
                              </span>
                              Your Jobs
                          </a>
                      </li>
                      <li>
                          <a href="/cli/newjob">
                              <span class="icon">
                                  <i class="fa fa-plus"></i>
                              </span>
                              New Job
                          </a>
                      </li>
                  </ul>
              </aside>




            </div>
            <div class="column">
            <h3 class="title is-3">Your Jobs</h3>
            <input name=_csrf_token id="_csrf_token" type=hidden value="{{ csrf_token() }}">
            {%for job in jobData%}
                <div class="box" id="{{job["_id"]}}" style='cursor: pointer;'>
                  <button class="button is-pulled-right is-danger is-small closeJobBttn">
                      Close Job
                  </button>
                <div><h5 class="title is-5">{{job["vacancy title"]}}</h5>
                </div> <span class="tag is-light"><b> Division </b> &nbsp {{job["division"]}}</span> <span class="tag is-light"><b> Role Type </b> &nbsp {{job["role type"]}}</span> <span class="tag is-light"><b> <i class="fas fa-map-marker-alt"> </i> </b> &nbsp {{job["location"]}}</span></div>

            {%endfor%}
            </div>




      </section>
    </div>
  </body>
</html>
