<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Welcome to Cieve</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
    <!-- Bulma Version 0.7.2-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css" />
    <!-- <link rel="stylesheet" type="text/css" href="landing.css"> -->
    <link rel="stylesheet" type="text/css" href="../static/css/landing.css">
    <link rel="stylesheet" href="bulma-modal-fx-master/dist/css/modal-fx.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="modalScript2.js"></script>
    <link rel="icon" href="../static/cieve.ico">
    <script async type="text/javascript" src="../static/js/bulma.js"></script>
</head>

<body>
    <section class="hero is-light is-fullheight">

        <div class="hero-head">

          <nav class="navbar is-transparent">
              <div class="container">
              <div class="navbar-brand">
                  <a class="navbar-item" href="/">
                      <img src="../static/CieveNavBar.png" alt="Cieve: an automated applicant solution">
                  </a>
                  <div class="navbar-burger burger" data-target="navMenuColorprimary-example">
                      <span></span>
                      <span></span>
                      <span></span>
                  </div>
              </div>

              <div id="navMenuColorprimary-example" class="navbar-menu">

                  <div class="navbar-start">
                    <a class="navbar-item" href="/">
                      <strong>Home</strong>
                    </a>
                    <a class="navbar-item" href="/privacy">
                      Privacy
                    </a>
                  </div>

                  <div class="navbar-end">

                      <div class="navbar-item">

                        <div aria-hidden="" class="modal" id="my-modal">
                          <div class="modal-background close-modal" data-modal-id="#my-modal"></div>
                          <div class="modal-content">
                            this ia test
                           </div>
                           <button aria-label="close" class="delete close-modal" data-modal-id="#my-modal"></button>
                        </div>

                        <div aria-hidden="" class="modal" id="my-modal2">
                          <div class="modal-background close-modal" data-modal-id="#my-modal2"></div>
                          <div class="modal-content">
                           </div>
                           <button aria-label="close" class="delete close-modal" data-modal-id="#my-modal2"></button>
                        </div>

                        <div class="buttons">
                          <a class="button is-primary open-modal" data-modal-id="#my-modal" href="/apl/auth/register">
                            <strong>Sign up</strong>
                          </a>
                          <a class="button is-light open-modal" data-modal-id="#my-modal2" href="/login">
                            Log in
                          </a>
                        </div>
                      </div>

                  </div>
              </div>
            </div>
          </nav>

            </div>

            <div class="hero-body">

               <div class="columns home-columns is-hidden-mobile">
                <div class="is-home-left-column has-background-white">
                  <div class="container landingIntro">
                    <!-- <img src="CieveLogoNew.png" width="200"> -->
                    Connecting <br>
                    you to the <br>
                    world... <br>
                    <a class="button is-info is-rounded" href="/apl/auth/register">
                  <b>JOIN US TODAY</b>
                </a>

                  </div>

                </div>

<!--                 <div class="container has-text-centered">
                    <div class="column is-6 is-offset-3">
                        <h1 class="title has-text-white">
                            Connecting you to the world.
                        </h1>
                        <h2 class="subtitle has-text-white">
                            Join now and start applying to places today!
                        </h2>
                    </div>
                </div> -->


            </div>

    </section>

</body>

</html>
